[submodule "e-commerce-ebs/data"]
	path = e-commerce-ebs/data
	url = git@github.com:PinzaruDaniel/data.git
[submodule "e-commerce-ebs/domain"]
	path = e-commerce-ebs/domain
	url = git@github.com:PinzaruDaniel/domain.git
[submodule "e-commerce-ebs/presentation"]
	path = e-commerce-ebs/presentation
	url = git@github.com:PinzaruDaniel/presentation.git
[submodule "e-commerce-ebs/di"]
	path = e-commerce-ebs/di
	url = git@github.com:PinzaruDaniel/di.git
